# This is Git's per-user configuration file.
[user]
  name = Cory Schmitt
  email = cory@taxjar.com

[core]
  excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX

[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE

[url "git@github.com:"]
  insteadOf = https://github.com/
[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/
